* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background-color: hsl(275, 100%, 97%);
  height: 100vh;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: hsl(0, 0%, 100%);
  padding: 18px; 
  border-radius: 10px;
  width: 90%;
  margin-top: -75px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    
    img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }

  .accordion-1,
  .accordion-2,
  .accordion-3,
  .accordion-4 {
    margin-bottom: 20px;
  }

  .accordion-2,
  .accordion-3,
  .accordion-4  {
    .panel {
      display: none;
    }
  }

  button {
    background: none;
    border: none;
    color:  hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;

    span {
      width: 180px;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }

  p {
    font-size: 13px;
    color: hsl(292, 16%, 49%);
    line-height: 20px;
  }

  hr {
    margin-bottom: 20px;
  }
}
